div{font-family: Roboto; 
    margin-top: 60px;      
    }
div.main a{color: green; 
    border-right: solid red 3px; 
    padding: 5px 10px 10px 10px;    
}

div.main a:first-child{padding-left: 0px;
}
div.main li, div.main div{
    display: inline-block;
    padding: 5px;    
}
div.main li:first-child{padding-left: 0px;
}

div.main2 a{color: green; 
    padding: 5px 10px 10px 10px;    
}
span{font-size: 24px;
    color: red;
    margin: 0px -5px;
}

/* Chess */

td{border-collapse: collapse;
    border: #000 1px solid;
    width: 50px;
    height: 50px;}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #000;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: #000;
}

 .CHESS tr:first-child td, .CHESS tr:last-child td{
    background-color: #98ecb8;
    height: 20px;
}
.CHESS tr td:first-child, .CHESS tr td:last-child{
    background-color: #98ecb8;
    width: 20px;
}
/* Вестрка макета страницы */

.bold {            
    font-size: 22px;
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
    font-style: italic;
}

p.bold, p.green, p.red, p.blue, a[href^='https://chesspro']{
    margin: 20px;
}

/* Stars */
body {text-align: center;}


.stars {display: inline-block;}


.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

div.star{background: url("../img/star1.png") no-repeat;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 20px; 
}


.star:hover, div:nth-child(-n+5):hover ~ div{background: url("../img/star2.png") no-repeat;}
