* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
   
}

.ad_menu {
    position: fixed;
    top: 50px;
    left: 37px;
}

.container {
    width: 1620px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(../img/main_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-left: 100px;
    padding-top: 38px;

}

.header_top {
    display: flex;
    justify-content: space-between;
    width: 1620px;
    color: #FFFFFF;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo1 {
    font-style: normal;
    font-weight: 700;
    font-size: 37.0312px;
    line-height: 170%;
    text-transform: uppercase;
    padding-right: 20px;

}

.logo2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.06em;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;


}

ul li {
    padding-left: 16px;
    padding-right: 16px;
}

.tel {
    font-size: 28px;
    line-height: 67%;
}

.tel span {
    font-size: 14px;
}

button {
    display: flex;
    border-width: 0;
    padding-left: 20px;
    align-items: center;
    padding: 15px 30px 16px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    width: 274px;
    font-weight: 700;
    font-size: 16px;
}

button::after {
    content: "";
    background-repeat: no-repeat;
    background-image: url(../img/Vector_70.png);
    width: 16px;
    height: 13px;
    position: absolute;
    right: 30px;
    top: 17px;
}

.content {width: 1620px;
    margin-left: auto; 
    margin-right: auto;       
    
}

.slider{margin-top: 388px;
    font-weight: 700;
    font-size: 64px;
    line-height: 115%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 848px;}

.button2 {
    width: 207px;
    margin-top: 56px;
}

.notice {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 100px;
}
.content_first{position: relative;
    margin-bottom: 100px;
}
h1::after, h2::after{
    content: "";
    position: absolute;
    width: 50%;
    background-color: #FFCB58;
    top: 257px;
    left: 55px;
    transform: translate(-50%, 0);
    height: 10px;
    width: 115px;
  }
  h1{font-size: 64px;
    padding-top: 50px;
}
ul.element_first{margin-top: 140px;

}
.vec1{display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
}
li img{display: inline-block;
    padding-right: 20px;
    border-right: 3px solid rgb(215, 215, 215);
    margin-right: 20px;  
}
.element_second{   
    margin-top: 200px;
    padding-top: 1px;
    position: relative;
}
.left  div p{font-weight: 400;
    font-size: 18px;
    line-height: 175%;    
    letter-spacing: 0.03em;    
    color: #2C2C2C;
    margin-bottom: 32px;
}
.left  div p.pbold{font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 32px;
}
.left li{display: flex;
    align-items: center;}
    li svg{ margin-right: 20px;}
h2{font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 115%;    
    letter-spacing: 0.03em;
    padding-bottom: 127px;
    padding-top: 100px;
    width: 100%;
    
 }
 h2::after{top: 272px;
     }
 .text_second{width: 60%;
 }
 
 div.left.content > ul{display: flex;
flex-direction: column;
width: 40%;
padding-left: 100px;
font-weight: 700;
font-size: 28px;
line-height: 130%;
}
.left{ display: flex;
    flex-direction: row; 
    position: relative;
     padding-bottom: 186px;
}
section.image{background-image: url(../img/main.jpg);
    height: 401px;
    position: relative;
    left: 100px;

}
img.img_second{
    position: absolute;
    top: 200px;
    left: 800px;
   z-index: -1;
}
.logist{    position: relative;
    right: 120px;
    background-color: #FFFFFF;
    margin-top: -100px;
    padding-right: 40px;
     padding-left: 100px;}
    .logist h2::after {
        margin-left: 100px;
    }
